---
import HTMLicon from "./icons/HTMLicon.astro";
import LaravelIcon from "./icons/LaravelIcon.astro";
import LinkButton from "./LinkButton.astro";
import Github from "./icons/Github.astro";
import Link from "./icons/Link.astro";
import BootstrapIcon from "./icons/BootstrapIcon.astro";
import PHPIcon from "./icons/PHPIcon.astro";
import Talwind from "./icons/Tailwind.astro"; 
import Springboot from "./icons/Springboot.astro";
import SQLIcon from "./icons/SQLIcon.astro";
import React from "./icons/React.astro";
import WordpressIcon from "./icons/WordpressIcon.astro";
import ElementorIcon from "./icons/ElementorIcon.astro";

const TAGS = {
    HTML: {
        name:"HTML",
        class: "bg-black text-white ",
        icon: HTMLicon,
    },
    Laravel:{
        name:"Laravel",
        class: "bg-[#F53003] text-white ",
        icon: LaravelIcon,
    },
    Bootstrap:{
        name:"Bootstrap",
        class: "bg-[#563d7c] text-white ",
        icon: BootstrapIcon,
    },
    SQL:{
        name:"SQL",
        class: "bg-[#DC7939] text-white ",
        icon: SQLIcon,
    },
    PHP:{
        name:"PHP",
        class: "bg-[#4F5B93] text-white ",
        icon: PHPIcon,
    },
    Tailwind:{
        name:"Tailwind",
        class: "bg-[#003159] text-white ",
        icon: Talwind,
    },
    Springboot:{
        name:"Springboot",
        class: "bg-white text-black border border-gray-200 ",
        icon: Springboot,
    },
    React:{
        name:"React",
        class: "bg-[#404756] text-white ",
        icon: React,
    },
    Wordpress:{
        name:"Wordpress",
        class: "bg-[#21759B] text-white ",
        icon: WordpressIcon
    },
    Elementor:{
        name:"Elementor",
        class: "bg-[#FFA8EE] text-black ",
        icon: ElementorIcon
    },
}
// Listado de proyectos
// Puedes agregar más proyectos siguiendo el mismo formato

const PROJECTS = [
    {
        title: 'ECOIMPRESIÓN',
        description: 'Colaboré en el desarrollo y mantenimiento de funcionalides web, por ejemplo, una calculadora para presupuestos. Utilizamos Laravel como framework backend. El proyecto incluye funcionalidades esenciales de comercio electrónico, enfocadas en rendimiento, seguridad y una experiencia de usuario fluida.',
        link: 'https://www.ecoimpresion.es/',
        image:['/proyectos/ecoimpresion/ecoimpresion1.png', '/proyectos/ecoimpresion/ecoimpresion2.png', '/proyectos/ecoimpresion/ecoimpresion3.png'],
        tags: [TAGS.Laravel, TAGS.Bootstrap,TAGS.SQL]
    },
    {
        title: 'E-commerce Laravel',
        description: 'Desarrollé un e-commerce utilizando Laravel, PHP y Bootstrap. Implementé un sistema de gestión de productos, carrito de compras, panel de admin. El proyecto incluye una interfaz de usuario intuitiva y un panel de administración para gestionar pedidos y clientes.',
        github: 'https://github.com/MikelAnderson/tiendaOtavalo',
        image:['/proyectos/laravelstore/om1.png', '/proyectos/laravelstore/om2.png', '/proyectos/laravelstore/om3.png','/proyectos/laravelstore/om4.png'],
        tags: [TAGS.Laravel,TAGS.PHP, TAGS.Bootstrap, TAGS.SQL]
    },
    {
        title: 'Centro Impulso Murcia',
        description: 'Desarrolle un sitio web para un gimnasio en Murcia. Ulitice Wordpress y Elementor para crear un sitio web atractivo y funcional. El sitio incluye un sistema de reservas, gestión de clases y un blog para noticias y actualizaciones. Además, implementamos un área de clientes para gestionar sus horarios y clases.',
        link: 'https://centroimpulso.es/',
        image:['/proyectos/centroimpulso/centroimpulso1.png', '/proyectos/centroimpulso/centroimpulso3.png', '/proyectos/centroimpulso/centroimpulso2.png',],
        tags: [TAGS.Wordpress, TAGS.Elementor, TAGS.SQL]
    },
    { 
        title: 'Basileus',
        description: 'Desarrolle un sitio web completo para un catálogo de luminarias de la empresa Basileus. Ulitice Wordpress y Elementor para maquetar la web y tenga un diseño moderno e intuitivo. El sitio incluye categorias y productos, fichas para cada producto, un blog para noticias y actualizaciones, y un área de contacto para consultas.',
        link: 'https://basileus.es/',
        image:['/proyectos/basileus/basileus1.png', '/proyectos/basileus/basileus2.png', '/proyectos/basileus/basileus3.png'],
        tags: [TAGS.Wordpress, TAGS.Elementor, TAGS.SQL]
    }
    
]
---
<div class="flex flex-col gap-y-16">

{
    PROJECTS.map(project =>(
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 animate-fade-in-right timeline-view animate-range-entry">
                <div class="w-full md:w-1/2" >
                    <div id="controls-carousel" class="relative w-full" data-carousel="static">
                        <!-- Carousel wrapper -->
                        <div class="relative h-70  overflow-hidden rounded-xl shadow-2xl border border-gray-300 dark:border-gray-700 ">
                            { (Array.isArray(project.image) ? project.image : [project.image]).map((img, index) => (
                                <div class="hidden duration-1200 ease-in-out" data-carousel-item={index == 0 ? "active" : ""}>
                                <img src={img} class="relative h-full object-cover  w-full" alt="...">
                                </div>
                                ))
                            }
                        </div>
                        <!-- Slider controls -->
                        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
                            <span class="inline-flex items-center justify-center w-7 h-7 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-3 h-3 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
                            <span class="inline-flex items-center justify-center w-7 h-7 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                                <svg class="w-3 h-3 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>

                </div>
                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{project.title} </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row gap-x-2 mb-2">
                            {project.tags.map((tag) => (
                            <li>
                                <span class={`animate-fade-in-left duration-1000 flex items-center gap-x-2 rounded-full shadow-xl text-xs py-1 ps-2 pe-3 ${tag.class}`}>
                                <tag.icon class="size-4"/>
                                {tag.name}
                                </span> 
                            </li>
                            ))}
                        </ul>
                    </div>
                    <div class="mt-2 text-gray-700 dark:text-gray-400 text-pretty">
                        {project.description}
                    </div>
                    <footer class="flex items-end justify-start mt-4 gap-x-4">
          {project.github && (
            <LinkButton href={project.github}>
              <Github class="size-6" />
              Código
              
            </LinkButton>
          )}
          {project.link && (
            <LinkButton href={project.link}>
              <Link class="size-4" />
              Visitar web
            </LinkButton>
          )}
        </footer>
                </div>
        </article>
    ))
}
        </div>


        
